<div class="bg-dark text-white p-3 mt-3" th:fragment="cart_partial" th:if="${notCartViewPage == null}">
    <div class="cart cartActive" th:if="${cartActive}">
        <p>Tienes <span th:text="${csize}"></span> artículos en el carro.</p>
        <p>Total <span th:text="'$' + ${#numbers.formatDecimal(ctotal, 0, 'COMMA', 2, 'POINT')}"></span> artículos en tu carro.</p>
        <p>
            <a href="/cart/view" class="btn btn-success">Ver carro</a>
            <a href="/cart/clear" class="btn btn-danger float-right">Vacíar carro</a>
        </p>
    </div>
    <div class="cart cartInactive" th:unless="${cartActive}">
        <p>Tu carro está vacío</p>
    </div>
</div>