<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div th:replace="/fragments/categories"></div>
            <div class="col"></div>
            <div class="col-6">
                <h3 class="display-4">Registrarse</h3>

                <form method="post" th:object="${user}" th:action="@{/register}" >

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        ¡Hay errores!
                    </div>
                
                    <div class="form-group">
                        <label for="">Usuario:</label>
                        <input type="text" class="form-control" th:field="*{username}" placeholder="Ingresar usuario">
                        <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>

                    <div class="form-group">
                        <label for="">Contraseña:</label>
                        <input type="password" class="form-control" th:field="*{password}">
                        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                    <div class="form-group">
                        <label for="">Confirmar contraseña:</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}">
                        <span class="error" th:if="${passwordMatchProblem}">¡Las contraseñas no coinciden</span>
                    </div>
        
                    <div class="form-group">
                        <label for="">E-mail:</label>
                        <input type="email" class="form-control" th:field="*{email}" placeholder="ingresatu@correo.com" required>
                        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div class="form-group">
                        <label for="">Número de teléfono:</label>
                        <input type="text" class="form-control" th:field="*{phoneNumber}" placeholder="Phone number">
                        <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    </div>
        
                    <button class="btn btn-danger mb-5">Registrarse</button>
        
                </form>

            </div>
            <div class="col"></div>
        </div>
    </div>

    <div th:replace="/fragments/footer"></div>

</body>

</html>